*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header{
    background-image: url("../img/welcome.jpeg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#header-container{
    text-align: center;
   
}
#header-container p{
    display: flex;
    justify-content: space-between;
}

#header-income,
#header-expenses{
    color: #000;
    padding: 10px;
    width: 200px;
    
}
#header-income{
    background-color: #16a085;
    
}

#header-expenses{
    background-color: #c0392b;
    
}

#input-section{
    padding: 20px;
    border-bottom: 1px solid #BDBDBD;
    text-align: center;
    background-color: #dfe6e9;
}

#income-expenses-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    width: 30%;
}

input,select, button{ 
    padding: 10px;
}

input[type="text"]{
    width: 30%;
}

input[type="number"]{
    width: 100px;
}

#expenses-title{
    color: #D50000;
}

#income-title{
    color: #1B5E20;
}

ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #F5F5F5;
}

li:nth-child(even){
    background-color: #E0E0E0;
}